services:
  itps-dw:
    build: ./postgresql
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_INITDB_ARGS: "--auth-host=md5 --auth-local=md5"
    ports:
      - "5433:5432"
    volumes:
      - itps-dw-data:/var/lib/postgresql/data
    networks:
      - default
      - shared-network
    mem_limit: 3g
    memswap_limit: -1

  minio:
    build: ./minio
    env_file:
      - .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9010:9000"
      - "9011:9001"
    volumes:
      - /data/minio-volume:/data
    command: server /data --console-address ":9001"
    networks:
      - default
      - shared-network
  
volumes:
  itps-dw-data:

networks:
  shared-network:
    external: true
